# Web framework
fastapi==0.111.0
uvicorn[standard]==0.30.1

# Database & ORM
SQLAlchemy==2.0.32
psycopg2-binary==2.9.9

# Sicurezza
python-jose==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

# Config & env
python-dotenv==1.0.1
pydantic==2.8.2

# Migrazioni
alembic==1.13.1

# Linting/formatting (opzionale ma consigliato)
black==24.4.2
flake8==7.1.1
isort==5.13.2

# Test & qualità
pytest==8.3.2
httpx==0.27.0
coverage==7.6.1

python-multipart==0.0.9